<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="main-menu">
        <a href="/blog">Home</a>
        <a href="/blog/addblog">Add Post</a>
        <a href="/blog/viewall">View All Posts</a>
        {{! <a href="/login">Log In / Sign Up</a> }}
        {{! <a href="/signout">Sign Out</a> }}
        </div>
        <h1>Sign Up</h1>
        {{alert}}
        <form id="signup" action="/signup" method="POST">
            <label for="username">Username: </label>
            <input id="username" type="text" name="username"/>
            <label for="password">Password: </label>
            <input id="password" type="password" name="password">
            <input type="submit" value="Sign Up">
        </form>
        <a href="/login">Already have an account? Log In</a>
    </body>
</html>